<aside class="danger mt-4">
    <i class="fas fa-exclamation-triangle"></i>
    <div>
        Your signature could not be processed at this time. Please go back and try again.
        <p><%= error %></p>
    </div>
</aside>

<div class="mt-5 text-center">
    <a class="btn btn-primary px-4" href="/#sign">Back to letter</a>
</div>